<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <link rel="stylesheet" href="css/admin.css">
    <title>Admin Panel</title>
</head>
<body>
    <nav>
      <form action="/logout" method="GET">
        <button title="logout"><i class="fas fa-sign-out-alt"></i></button>
      </form>
      <button title="api">
        <a href="/api/" target="_blank"><i class="fas fa-external-link-square-alt"></i></a>
      </button>
    </nav>

    <div class="wrapper">
        <button id="prev" disabled><i class="fas fa-arrow-left"></i></button>
        <button id="next"><i class="fas fa-arrow-right"></i></button>

        <span class="pageInfo"></span>
        
        <button id="add">
            <a href="/api/add"><i class="fas fa-plus-square"></i> Add quote</a>
        </button>
        <table cellspacing="0">
            <thead>
                <td>ID</td>
                <td>Text</td>
                <td>Author</td>
                <td>Category</td>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
    <script>

        const table = document.querySelector('table tbody');
            const next = document.querySelector('#next');
            const prev = document.querySelector('#prev');
            const pageInfo = document.querySelector('.pageInfo');

            const quotes = <%-JSON.stringify(quotes) %>;

            let total = quotes.length;
            let perPage = 5;

            let stop = perPage;
            let start = 0;

            let totalPages = Math.ceil(total / perPage);
            let currPage = 1;


            // ADD EVENT LISTENERS
            next.addEventListener('click', () => {
                currPage++;
                updateQuery('r');
                display(quotes);
            });

            prev.addEventListener('click', () => {
                currPage--;
                updateQuery('l');
                display(quotes);
            });

            // DISPLAY PAGE NUMBER
            function displayPage(current, total) {
                pageInfo.innerText = 'Page ' + current + ' of ' + total;
            }

            // BASIC PAGINATION
            function updateQuery(direc) {
                // Increase/decrease start and stop by perPage value
                start = (direc === 'r') ? start += perPage : start -= perPage;
                stop = (direc === 'r') ? stop += perPage : stop -= perPage;

                // Enable/disable nav buttons
                next.disabled = (stop >= total) ? true : false;
                prev.disabled = (start <= 0) ? true : false;
            }

            function display(quotes) {
                let html = '';

                for (let i = start; i < stop; i++) {
                    if (!quotes[i]) break;
                    html += createRow(quotes[i].rowid, quotes[i].author, quotes[i].text, quotes[i].category);
                }

                table.innerHTML = html;
                displayPage(currPage, totalPages);
            }

        function createRow(rowid, author, quote, category) {
            return `
                <tr>
                    <td>${rowid}</td>
                    <td>${quote}</td>
                    <td>${author}</td>
                    <td>${category}</td>
                    <td class="buttons">
                        <button class="edit">
                            <a href="/api/${rowid}">Edit</a>
                        </button>
                        <form action="/api/${rowid}/del?_method=DELETE" method="POST">
                            <button class="del">Del</button>
                        </form>
                    </td>
                </tr>
            `;
        }

        display(quotes);

    </script>
</body>
</html>