<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <title>Home</title>
</head>
<body>

    <header>
        <h1>Random Quotes</h1>
        <h3>A simple quote API for FCC projects.</h3>
    </header>
    
    <h2>How does it work?</h2>
    <table>
        <thead>
            <td>Method</td>
            <td>Usage</td>
        </thead>

        <tbody>
            <tr>
                <td>[GET] quotes</td>
                <td>/api</td>
            </tr>
            <tr>
                <td>[GET] limited quotes</td>
                <td>/api?limit=limit <br><small>default is 10</small></td>
            </tr>
            <tr>
                <td>[GET] 1 random quote</td>
                <td>/api?limit=1</td>
            </tr>
            <tr>
                <td>[GET] quotes by category</td>
                <td>/api?category=category <br><small>motivational, funny</small></td>
            </tr>
        </tbody>
    </table>
</body>
</html>