body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    border-radius: 3px;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #ccc;
}

nav button {
    color: #ccc;
    background: none;
    border: none;
    font-size: 16px;
    display: block;
    margin: 20px 15px;
}

nav {
    overflow: auto;
    min-height: 100%;
    background: #2b2b2b;
}

.wrapper {
    display: table;
    margin: 50px auto;
    width: 90vw;
}

#prev,
#next,
#add {
    margin: 5px;
    padding: 5px;
    background: #2980b9;
    color: #fff;
    border: 1px solid #2980b9;
}

#add {
    float: right;
    text-decoration: none;
}

#add a {
    text-decoration: none;
    color: #fff;
}

.wrapper button:disabled {
    opacity: 0.5;
}

.pageInfo {
    margin: 0 15px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #e1e1e1;
    color: #999;
    font-size: 14px;
}

table {
    text-align: center;
    width: 100%;
    margin: 25px 0;
}

table .buttons {
    opacity: 0;
}

table tr:hover .buttons {
    opacity: 1;
}

table a,
table button {
    border: none;
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

table thead {
    color: #444;
}

table tbody tr:nth-child(odd) {
    background: #f1f1f1;
}

table td {
    padding: 15px;
    color: #4e4e4e;
}

table tr form {
    display: inline;
}

table .buttons {
    opacity: 0;
}

table tr:hover .buttons {
    opacity: 1;
}

.del {
    background: #c0392b;
}

.edit {
    background: #f39c12;
}