body {
    font-family: sans-serif;
    text-align: center;
}

table {
    margin: 100px auto;
}

table thead {
    font-weight: bold;
}

table tbody tr:nth-child(odd) {
    background: #eee;
}

table td {
    padding: 10px;
}